{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />
    <title>{% block 'title' %}Post Site{% endblock %}</title>
  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <div class="left-cta">
          <h1>POST SITE</h1>
          <h2>Post Wadd'ya Wann' with an Image.</h2>
        </div>
        <div class="right-cta">
          <nav>
            <ul class="rcta-list">
              {% if user.is_authenticated %}
              <li><a href="/post" class="link">POST</a></li>
              <li><p class="username">{{user.get_username}}</p></li>
              <li><a href="/login" class="link">LOGOUT</a></li>
              {% else %}
              <li><a href="/login" class="link">LOGIN</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="content-cta">
        {% block 'content' %}
        {% endblock %}
    </div>
  </body>
</html>
